<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>368242316305-1on2gq4o6qh9gt7fpqbt58gnnrmvcnhl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368242316305-1on2gq4o6qh9gt7fpqbt58gnnrmvcnhl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>368242316305-kan1u3rj2fl2613r5amtpida4jj9hssg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDx9ZMzEmKn0eXQhHoI1-Csiuh_em6F4Xw</string>
	<key>GCM_SENDER_ID</key>
	<string>368242316305</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ion.sequence</string>
	<key>PROJECT_ID</key>
	<string>sequence-b3e80</string>
	<key>STORAGE_BUCKET</key>
	<string>sequence-b3e80.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368242316305:ios:43022b0a80982f6b4dcdb0</string>
</dict>
</plist>